---
import BaseHead from '../../components/BaseHead.astro';
import Header from '../../components/Header.astro';
import Footer from '../../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../../consts';
import { getCollection } from 'astro:content';
import FormattedDate from '../../components/FormattedDate.astro';
const posts = (await getCollection('blog')).sort(
	(a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf(),
);
---
<BaseHead title=`Blog | ${SITE_TITLE}` description={SITE_DESCRIPTION} />
<Header />
		<main>
			<h2>Blog</h2>
			<section id="blog-posts" class="blog-posts">
					{
						posts.map((post) => (
							<article class="blog-post-teaser">
								<a class="image-link" href={`/blog/${post.slug}/`}>
									<img width={720} height={360} src={post.data.heroImage} alt="" />
								</a><br/>
								<a href={`/blog/${post.slug}/`}>
									<h2 class="title">//{post.data.title} - <FormattedDate date={post.data.pubDate} /></h2>
								</a>
							</article>
						))
					}
		  </section>
		</main>
<Footer />
